.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 30px;
}
.card{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card img{
    padding: 10px;
    object-fit: contain;
    height: 200px;
}
.card h3{
    padding: 10px;
}
.price{
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}
.category{
    font-size: 30px;
    color: rgb(101, 95, 95);
}